.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

figures/tl_2019_us_county/
figures/census_tract_shapefiles/
figures/qgis_exploration.qgz

modeling_files/all_census_tract*
modeling_files/stratified_analysis/model_stratif*
modeling_files/sensitivity_analysis/

imported_data/PLACES__Local_Data_for_Better_Health__Census_Tract_Data_2020_release.csv
imported_data/caces_lur_air_pollution/caces_lur_air_pollution_census_tract.csv
imported_data/flood_risk_raster/
imported_data/census_tract_shapefiles
imported_data/flood_risk/FSF_Property_Data_State_6*_Confidential_TradeSecrets_BusinessProprietary.csv

.Rapp.history

~*.docx

._*


